header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  background: #fff;
  text-transform: uppercase;
  top: 0px;
  -webkit-box-shadow: 0px 2px 10px 3px #eeeeee73;
          box-shadow: 0px 2px 10px 3px #eeeeee73;
  z-index: 100;
}

header nav {
  max-width: 1200px;
  height: auto;
  margin: auto;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header nav .logo {
  font-size: 1.5rem;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
}

header nav .nav-menu {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .nav-menu #toggle {
  width: 90px;
  display: none;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  float: right;
  text-transform: uppercase;
  cursor: pointer;
}

header nav .nav-menu #toggle .toggle-button {
  width: 40px;
  height: 40px;
  border: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  cursor: pointer;
}

header nav .nav-menu #toggle .toggle-button::before,
header nav .nav-menu #toggle .toggle-button::after {
  content: "";
  width: 30px;
  height: 1px;
  position: absolute;
  background-color: var(--prim-color);
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header nav .nav-menu #toggle .toggle-button::after {
  top: 0px;
}

header nav .nav-menu #toggle .toggle-button::before {
  top: 10px;
}

header nav .nav-menu #toggle .toggle-button.open::after {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}

header nav .nav-menu #toggle .toggle-button.open::before {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}

header nav .nav-menu ul {
  min-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
  font-size: 0.8rem;
  width: 100%;
}

header nav .nav-menu ul li {
  overflow: hidden;
}

header nav .nav-menu ul a {
  position: relative;
  padding: 0px 10px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .nav-menu ul a::before {
  content: "";
  position: absolute;
  width: 100%;
  left: -100%;
  top: 0;
  height: 2px;
  background-color: var(--main-color);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header nav .nav-menu ul a:hover::before {
  left: 0;
}

header nav .nav-menu ul a:hover {
  background-color: #eee;
  color: var(--main-color);
}

header nav .nav-menu ul .sign-in-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header nav .nav-menu ul .sign-in-nav .button:hover {
  background: var(--prim-color);
  color: #fff;
}

header nav .nav-menu ul .sign-in-nav .sign-in-button {
  padding: 5px 15px;
  color: var(--main-color);
  text-transform: uppercase;
  background-color: #fff;
  border: none;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header nav .nav-menu ul .sign-in-nav .sign-in-button:hover {
  background: var(--prim-color);
  color: #fff;
}

@media (max-width: 767px) {
  header nav .nav-menu {
    display: inline-block;
  }
  header nav .nav-menu #toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav .nav-menu ul {
    display: block;
    position: absolute;
    top: 52px;
    width: 100%;
    background-color: #fff;
    max-height: 0px;
    visibility: hidden;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    left: 0px;
    line-height: 40px;
  }
  header nav .nav-menu ul a {
    color: var(--prim-color);
    width: 100%;
    padding: 0px 20px;
    height: auto;
  }
  header nav .nav-menu ul .sign-in-nav {
    width: 80%;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    margin: 10px 20px;
  }
  header nav .nav-menu ul.open {
    visibility: visible;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --main-color: #796e10;
  --prim-color: #311a53;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--prim-color);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button {
  border: 1px solid var(--prim-color);
  padding: 5px 15px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

ion-icon {
  font-size: 20px;
}

p {
  font-weight: 700;
}

#header {
  width: 100%;
  z-index: 5;
}

#header .header-container {
  max-width: 1200px;
  padding-bottom: 50px;
  margin: auto;
}

#header .header-container .header-cover {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

#header .header-container .header-cover .header-text {
  margin: auto;
  padding: 15px;
}

#header .header-container .header-cover .header-text h1 {
  font-weight: 900;
}

#header .header-container .header-cover .header-text .search-wrapper {
  border: 2px solid var(--prim-color);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#header .header-container .header-cover .header-text .search-wrapper #search {
  border: none;
  outline: none;
  padding-left: 5px;
}

#header .header-container .header-cover .header-text .search-wrapper .search-button {
  background-color: var(--prim-color);
  border-left: 3px solid var(--prim-color);
  color: #fff;
  font-weight: 900;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#header .header-container .header-cover .header-text .search-wrapper .search-button:hover {
  background-color: #fff;
  color: var(--prim-color);
}

#header .header-container .header-cover .header-img {
  width: 60%;
  height: 60vh;
  background-image: url("../img/yellow.jpg");
  background-size: cover;
}

#header .header-container .header-statistics {
  max-width: 1200px;
  padding: 0px 50px;
  display: -ms-grid;
  display: grid;
  justify-items: left;
  -ms-grid-columns: (minmax(150px, 350px))[4];
      grid-template-columns: repeat(4, minmax(150px, 350px));
  padding: 0px 50px;
}

#header .header-container .header-statistics .stat-card {
  text-align: left;
  padding: 10px;
  border-left: 1px solid var(--main-color);
}

#header .header-container .header-statistics .stat-card p {
  color: var(--main-color);
}

@media (max-width: 767px) {
  #header .header-container .header-cover .header-text {
    margin: auto;
    padding: 15px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
  }
  #header .header-container .header-cover .header-img {
    width: 100%;
    height: 90vh;
    background-image: url("../img/yellow.jpg");
    background-size: cover;
  }
  #header .header-container .header-statistics {
    -ms-grid-columns: (minmax(150px, 350px))[2];
        grid-template-columns: repeat(2, minmax(150px, 350px));
  }
}

@media (max-width: 470px) {
  #header .header-container .header-statistics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #header .header-container .header-statistics .stat-card {
    text-align: center;
    border-bottom: 1px solid #eee;
  }
}

#courses {
  width: 100%;
  background: #eee;
}

#courses .courses-container {
  max-width: 1200px;
  margin: auto;
  padding: 50px 0px;
}

#courses .courses-container .courses-title {
  padding: 15px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#courses .courses-container .courses-title .courses-scroller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#courses .courses-container .courses-title .courses-scroller #left,
#courses .courses-container .courses-title .courses-scroller #right {
  cursor: pointer;
  color: #888;
  font-weight: 700;
  font-size: 1.2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#courses .courses-container .courses-title .courses-scroller #left:hover,
#courses .courses-container .courses-title .courses-scroller #right:hover {
  color: var(--prim-color);
}

#courses .courses-container .courses-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 50px;
}

#courses .courses-container .courses-cards #card1 {
  background: -webkit-gradient(linear, left top, right top, from(#b6a5099c), to(#311a539f)), url("../img/uiux.jpg");
  background: linear-gradient(90deg, #b6a5099c, #311a539f), url("../img/uiux.jpg");
  background-size: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#courses .courses-container .courses-cards #card2 {
  background: -webkit-gradient(linear, left top, right top, from(#b6a5099c), to(#311a539f)), url("../img/code.jpg");
  background: linear-gradient(90deg, #b6a5099c, #311a539f), url("../img/code.jpg");
  background-size: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#courses .courses-container .courses-cards #card3 {
  background: -webkit-gradient(linear, left top, right top, from(#b6a5099c), to(#311a539f)), url("../img/business.jpg");
  background: linear-gradient(90deg, #b6a5099c, #311a539f), url("../img/business.jpg");
  background-size: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#courses .courses-container .courses-cards #card4 {
  background: -webkit-gradient(linear, left top, right top, from(#b6a5099c), to(#311a539f)), url("../img/yellow.jpg");
  background: linear-gradient(90deg, #b6a5099c, #311a539f), url("../img/yellow.jpg");
  background-size: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#courses .courses-container .courses-cards #card1:hover,
#courses .courses-container .courses-cards #card2:hover,
#courses .courses-container .courses-cards #card3:hover,
#courses .courses-container .courses-cards #card4:hover {
  background-size: 120%;
}

#courses .courses-container .courses-cards .course-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  margin-left: 10px;
  opacity: 100%;
}

#courses .courses-container .courses-cards .course-card .card-title {
  height: 180px;
  text-justify: end;
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
  padding: 10px;
  cursor: pointer;
}

#courses .courses-container .courses-cards .course-card .card-discription {
  margin: 10px 0px;
  padding: 0px 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 100%))[2];
      grid-template-columns: repeat(2, minmax(50px, 100%));
  font-size: 0.9rem;
  cursor: default;
}

#courses .courses-container .courses-cards .course-card .card-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#courses .courses-container .courses-cards .course-card .card-button button {
  width: 50%;
}

#courses .courses-container .courses-cards .course-card .card-button button:hover {
  color: #fff;
  background: var(--prim-color);
}

#courses .courses-container .courses-cards .course-card .card-button .attend {
  color: #fff;
  font-weight: 700;
  background: var(--prim-color);
}

#courses .courses-container .courses-cards .course-card .card-button .attend:hover {
  background-color: #fff;
  color: var(--prim-color);
}

#top-category {
  width: 100%;
}

#top-category .category-container {
  max-width: 1200px;
  margin: auto;
  padding: 50px 0px;
}

#top-category .category-container .category-title {
  padding: 15px 50px;
}

#top-category #chart {
  width: 90%;
  margin: auto;
}

#opinion {
  width: 100%;
}

#opinion .opinion-container {
  max-width: 1200px;
  margin: auto;
  padding: 0px 50px;
}

#opinion .opinion-container .opinion-title {
  padding: 15px;
}

#opinion .opinion-container .opinion-gallery {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 50px;
}

#opinion .opinion-container .opinion-gallery .gallery-text {
  background: var(--prim-color);
  height: 100%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  color: #fff;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#opinion .opinion-container .opinion-gallery .gallery-text .name {
  padding: 20px;
}

#opinion .opinion-container .opinion-gallery .gallery-img {
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#b6a50983)), url("../img/code.jpg");
  background: linear-gradient(90deg, #b6a50983), url("../img/code.jpg");
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#opinion .opinion-container .gallery-scroller {
  padding: 15px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#opinion .opinion-container .gallery-scroller ion-icon {
  color: #999;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#opinion .opinion-container .gallery-scroller ion-icon:hover {
  color: var(--prim-color);
}

@media (max-width: 767px) {
  #opinion .opinion-container .opinion-gallery {
    padding: 0;
  }
  #opinion .opinion-container .opinion-gallery .gallery-text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #opinion .opinion-container .opinion-gallery .gallery-img {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}

footer {
  background: #1c0e30;
  color: #fff;
  width: 100%;
  padding: 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

footer .lebel ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .lebel li {
  list-style: none;
  padding: 0px 10px;
}

footer .lebel a {
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .lebel a:hover {
  color: var(--main-color);
}

#made-with {
  background: var(--prim-color);
  color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  footer {
    padding: 10px 40px;
    height: auto;
  }
  footer .lebel ul {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */