footer{
    background: #1c0e30;
    color: #fff;
    width: 100%;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    p{
    }
    .lebel{
        ul{
            display: flex;
        }
        li{
            list-style: none;
            padding: 0px 10px;
        }
        a{
            color: #fff;
            transition: all 0.3s ease;
        }
        a:hover{
            color: var(--main-color);
        }
    }
}

#made-with{
    background: var(--prim-color);
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    footer {
        padding: 10px 40px;
        height: auto;
        .lebel{
            ul{
                display: block;
            }
        }
    }
}